<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:replace="${title}">NoTitle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>

<!--    导航-->
<nav th:fragment="menu(n)" class="ui attached segment m-padded-tb-mini">
    <div class="ui container">
        <div class="ui secondary stackable menu">
            <h3 class="ui blue header item">Zhiyu DashBoard</h3>
            <a href="#" th:href="@{/admin/dashboard}" class="m-item blue item m-mobile-hide" th:classappend="${n==0} ? 'active'">表盘</a>
            <a href="#" th:href="@{/admin/blogs}" class="m-item blue item m-mobile-hide" th:classappend="${n==1} ? 'active'">博客</a>
            <a href="#" th:href="@{/admin/types}" class="m-item blue item m-mobile-hide" th:classappend="${n==2} ? 'active'">分类</a>
            <a href="#" th:href="@{/admin/tags}" class="m-item blue item m-mobile-hide" th:classappend="${n==3} ? 'active'">标签</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="../../static/images/headPortraits.jpg" th:src="@{/images/headPortraits.jpg}" alt="" class="ui avatar image">
                        Zhiyu
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item" th:href="@{/logout}">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black button icon m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>


</body>
</html>