<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>标签管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>
<!--    导航-->
<nav th:replace="admin/_fragments::menu(3)" class="ui inverted attached segment m-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">后台管理</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="../../static/images/headPortraits.jpg" th:src="@{/images/headPortraits.jpg}" alt="" class="ui avatar image">
                        Zhiyu
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item" th:href="@{/admin/logout}">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black button icon m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/tags/input}" class="active teal item">新增</a>
            <a href="#" th:href="@{/admin/tags}" class="item">列表</a>
        </div>
    </div>
</div>

<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <form action="#" method="post" th:object="${tag}" th:action="*{id}==null?@{/admin/tags} : @{/admin/tags/{id}(id=*{id})}" class="ui form">
            <input type="hidden" name="id" th:value="*{id}">
            <!--引用-->
            <div class="required field">
                <div class="ui left labeled input">
                    <label for="" class="ui blue basic label">名称</label>
                    <!--*{}获取object中tag的name:如果有从控制器editInput获取-->
                    <input type="text" name="name" placeholder="标签名称" th:value="*{name}">
                </div>
            </div>
            <!--错误提示:前后端双重验证-->
            <div class="ui error message"></div>
            <!--/*/
            <div class="ui negative message" th:if="${#fields.hasErrors('name')}">
                <i class="close icon"></i>
                <div class="header">验证失败</div>
                <p th:errors="*{name}">提交信息不符合规则</p>
            </div>
            /*/-->
            <!--操作按钮-->
            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go((-1))">返回</button>
                <button class="ui blue submit button">提交</button>
            </div>
        </form>
    </div>
</div>


<script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.js"></script>
<script>
    $(function () {
        $(".menu.toggle").click(function () {
            console.log("click!");
            $(".m-item").toggleClass("m-mobile-hide");
        });
        $(".ui.dropdown").dropdown({
            on: 'hover',
        });
        $(".message .close").on('click', function () {
            $(this).closest('.message')
            .transition('fade');
        });
        $(".ui.form").form({
            fields: {
                name: {
                    identifier: 'name',
                    rules: [
                        {
                            type: 'empty',
                            prompt: '请输入标签名称',
                        }
                    ]
                }
            }
        });
    })
</script>
</body>
</html>