<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>标签管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/me.css" th:href="@{/css/me.css}">
</head>
<body>
<!--    导航-->
<nav th:replace="admin/_fragments::menu(3)" class="ui inverted attached segment m-padded-tb-mini">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">后台管理</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img src="../../static/images/headPortraits.jpg" th:src="@{/images/headPortraits.jpg}" alt="" class="ui avatar image">
                        Zhiyu
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item" th:href="@{/admin/logout}">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black button icon m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<div class="ui attached borderless pointing menu">
    <div class="ui container">
        <div class="menu">
            <div class="item">
                <div class="ui breadcrumb">
                    <a class="section">主页</a>
                    <i class="right chevron icon divider"></i>
                    <div class="active section">标签</div>
                </div>
            </div>
        </div>
        <div class="right menu">
            <a href="#" th:href="@{/admin/tags/input}" class="item">新增</a>
            <a href="#" th:href="@{/admin/tags}" class="active blue item">列表</a>
        </div>
    </div>
</div>

<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示</div>
            <p th:text="${message}"></p>
        </div>
        <table class="ui compact blue table">
            <thead>
            <tr>
                <th></th>
                <th>名称</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tag,iterStat : ${page.content}">
                <td th:text="${iterStat.count}">1</td>
                <td th:text="${tag.name}">Spring源码剖析1</td>
                <td>
                    <a href="#" th:href="@{/admin/tags/{id}/input(id=${tag.id})}" class="ui mini blue basic button">编辑</a>
                    <a href="#" th:href="@{/admin/tags/{id}/delete(id=${tag.id})}" class="ui mini red basic button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="6" >
                    <a th:href="@{/admin/tags(page=${page.number - 1})}" th:unless="${page.first}" class="ui mini blue button">上一页</a>
                    <a th:href="@{/admin/tags(page=${page.number + 1})}" th:unless="${page.last}" class="ui mini blue button">下一页</a>
                    <a th:href="@{/admin/tags/input}" class="ui right floated blue mini basic button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>


<script src="https://cdn.bootcss.com/jquery/3.2.0/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.js"></script>
<script>
    $(function () {
        $(".menu.toggle").click(function () {
            console.log("click!");
            $(".m-item").toggleClass("m-mobile-hide");
        });
        $(".ui.dropdown").dropdown({
            on: 'hover',
        });
        $(".message .close").on('click', function () {
            $(this).closest('.message')
            .transition('fade');
        });
    })
</script>
</body>
</html>